    body{
    --coach-avatar-speech-overlap: var(--space-4);
    --coach-tail-with-overlap: calc(var(--coach-tail-width) + var(--coach-avatar-speech-overlap));
    --game-review-speech-bubble-height: 16.3rem;
    --nodeBackground: rgba(255, 255, 0, .2);
    --nodeBorder: rgba(255, 255, 0, .4);
    --nodeColor: var(--color-transparent-white-72);
    --nodeColorSelected: var(--color-neutrals-white);
    --nodeNumber: var(--color-transparent-white-50);
    --nodeLimit: var(--color-transparent-white-72);
    color-scheme: dark;
    box-sizing: inherit;
    color: var(--color-gray-800);
    font-family: var(--font-family-system);
    font-size: 1.4rem;
    line-height: 1.43;
    margin: 0;
    touch-action: manipulation;
    --boardLayoutChessboardLeftMargin: auto;
    --boardLayoutChessboardRightMargin: 0;
    --boardLayoutChessboardBoardMargin: 0 0 0 calc(var(--boardContainerWidth) - var(--boardWidth));
    --layoutPlayerMargin: 0 var(--boardControlsWidth) 0 auto;
    --layoutPlayerWidth: var(--boardWidth);
    --baseAdWidth: 30rem;
    --100vh: var(--dvh, 100vh);
    --100vw: var(--dvw, 100vw);
    --boardContainerWidth: max(var(--boardMinWidth), min(var(--boardMaxWidth), var(--boardMaxHeight)));
    --boardHeight: calc(var(--boardWidth) * var(--boardHeightToWidthRatio));
    --boardHeightToWidthRatio: 1;
    --boardMaxWidthSansOverride: var(--boardMaxWidthWithPieces) - var(--piecesWidth);
    --boardMaxWidth: min(var(--boardMaxWidthSansOverride), var(--modifiedBoardWidth, var(--boardMaxWidthSansOverride)));
    --boardMinWidth: 26.4rem;
    --boardRowHeight: max(calc(var(--100vh) - var(--gutter) - var(--gutterTopPlayerToJudo) - var(--judoHeight) - var(--boardTopGutter) - var(--horizontalNavHeight)), var(--sidebarMinHeight));
    --divisibleBy: .8rem;
    --evalWidth: 0rem;
    --gutterBoardToTopPlayer: 0rem;
    --gutterBottomPlayerToAnalysis: 0rem;
    --piecesWidth: 0rem;
    --playerHeight: 0rem;
    --playersHeight: calc(var(--playerHeight) * 2);
    --adWidth: 0rem;
    --analysisHeight: 0rem;
    --boardTopGutter: 0rem;
    --evalAndGutter: calc(var(--gutterLeftOfBoard) + var(--evalWidth));
    --gutter: 1.6rem;
    --gutterSmall: 1rem;
    --gutterTopPlayerToJudo: var(--gutter);
    --judoHeight: 0rem;
    --sidebarMaxWidth: 50rem;
    --sidebarMinHeight: 50rem;
    --sidebarMinWidth: 30rem;
    --videoWidth: 0rem;
    --boardOffsetTop: calc(var(--gutterTopPlayerToJudo) + var(--judoHeight) + var(--boardTopGutter) + var(--horizontalNavHeight));
    padding: var(--boardOffsetTop) var(--bodyBoardGutterX) var(--gutter) calc(var(--verticalNavWidth) + var(--gutterBoardToNav));
    --boardControlsHeight: calc(var(--gutterBoardToTopPlayer) + var(--playerHeight) + var(--boardHeight));
    --horizontalNavHeight: 0rem;
    --verticalNavWidth: var(--navWidth, 14.5rem);
    display: grid;
    grid-template-columns: [left-gutter] 1fr [extra-left] var(--extraColumnLeftOfBoard, 0) [board-layout] min-content [sidebar] minmax(var(--sidebarMinWidth),var(--sidebarMaxWidth)) [ad] var(--adWidth) [right-gutter] 1fr [videos] var(--videoWidth) [extraneous-dom] 0;
    grid-template-rows: [top] var(--boardRowHeight) [bottom] auto;
    --boardMaxHeight: (var(--100vh) - var(--judoHeight) - var(--boardTopGutter) - var(--playersHeight) - var(--gutterTopPlayerToJudo) - var(--gutter) - var(--gutterBoardToBottomPlayer) - var(--gutterBoardToTopPlayer) - var(--gutterBottomPlayerToAnalysis) - var(--analysisHeight)) / var(--boardHeightToWidthRatio);
    --boardMaxWidthWithPieces: var(--100vw) - var(--verticalNavWidth) - var(--gutterBoardToNav) - var(--gutter) - var(--boardControlsWidth) - var(--gutterLeftOfBoard) - var(--evalWidth) - var(--sidebarMinWidth) - var(--adWidth) - var(--extraColumnLeftOfBoard, 0rem);
    --bodyBoardGutterX: var(--gutter);
    --bodyPeripheralsGutterX: 0rem;
    --gutterBoardToNav: 1.2rem;
    --dvh: 100dvh;
    --dvw: 100dvw;
    --chessboard-border-radius: 0;
    --chessboard-rounded-radius: 3px;
    background-attachment: fixed;
    background-color: var(--theme-background-color,#312e2b);
    background-image: var(--theme-background-image);
    background-position: 50%;
    background-size: cover;
    transition: background-image .3s linear,background-color .3s linear;
    --boardWidth: round(down, var(--boardContainerWidth), var(--divisibleBy));
    --boardControlsWidth: calc(var(--gutter) * 2);
    --gutterBoardToBottomPlayer: var(--coordinatesGutter);
    --gutterLeftOfBoard: var(--coordinatesGutter);
    --coordinatesGutter: 4rem;
    --modifiedBoardWidth: 687px;
    }